#slider {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 25px; */
}
#slider .gallery-display-area{
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
}
#slider .gallery-display-area .gallery-wrap{
    width: 300%;
    animation: slideShow 12s infinite;
    display: flex;
    flex-direction: row;
}
#slider .image{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    position: relative;
}
#slider .gallery-display-area .gallery-wrap .image img{
    width: 100%;
}
@keyframes slideShow{
    20%{
        margin-left: 0;
    }
    30%{
        margin-left: -100%;
    }
    40%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
    }
    60%{
        margin-left: -200%;
    }
    70%{
        margin-right: -100%;
    }
    80%{
        margin-left: -100%;
    }
    90%{
        margin-left: 0;
    }
    100%{
        margin-left: 0;
    }
}
#slider .item {
    position: absolute;
    width: 40%;
}
#slider .item p{
    padding-top: 25px;
    color: white;
}
#slider .item p.trademark{
    font-size: 30px;
    font-weight: 550;
    line-height: 1.2rem;
}
#slider .item--1{
    top: 20%;
    left: 5%;
}
#slider .item--2{
    top: 20%;
    right: 5%;
}
#slider .item--3{
    top: 20%;
    left: 5%;
}
#content .panel{
    display: flex;
}
#content .panel .item--panel{
    position: relative;
    width: 30%;
    margin: 15px 1%;
}
#content .panel .item--panel:hover{
    /* border: 1px solid #333; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#content .panel .item--panel p{
    position: absolute;
    font-size: 24px;
    top: 5%;
    text-align: center;
    width: 100%;
}
#content .panel .item--panel .button{
    display: none;
    text-align: center;
    line-height: 40px;
    width: 150px;
    border: 1px solid #333;
    /* background-color: #333; */
    /* color: #fff; */
    position: absolute;
    top: 45%;
    left: 30%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#content .panel .item--panel:hover div.button{
    display: block;
}
#content .panel .item--panel div.button:hover{
    background-color: black;
    color: white;
}
#content .panel img{
    width: 90%;
    margin: 15px 5%;
}
#content .item .nav{
    width: 90%;
    margin: 15px 5%;
    border-bottom: 2px solid black;
}
#content .item .nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5px 5%;
}
#content .item .nav ul a{
    text-decoration: none;
    color: #646262;
    font-size: 18px;
    text-transform: uppercase;
    padding: 6px;
    transition: all 0.3s ease-in-out;
}
#content .item .nav ul a.border{
    border-right: 2px solid #cecaca;
}
#content .item .nav ul a:hover{
    background-color: black;
    color: white;
    /* border: none; */
}
#content .item .nav ul a.active{
    background-color: black;
    color: white;
}
#content .item .new {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
}
#content .item .new .item {
    width: 20%;
    margin: 5px;
}
#content .item .new .item img {
    width: 90%;
    padding: 5%;
}
#content .item .new .item a{
    text-decoration: none;
}
#content .item .new .item .name{
    color: #646262;
    text-align: center;
    margin: 15px 0px;
}
#content .item .new .item{
    text-align: center;
}
#content .item .new .item .price{
    color: rgb(226, 19, 19);
    font-weight: bold;
    margin-bottom: 15px;
}
#content .item .new .item .price > span{
    text-decoration: underline;
}
#content .item .new .item .button{
    text-align: center;
    display: flex;
    justify-content: center;
    height: 35px;
}
#content .item .new .item .button span{
    display: none;
    padding: 5px;
    font-weight: bold;
    color: white;
    width: 50%;
    background-color: rgb(226, 19, 19);
    height: 30px;
}
#content .item .new .item:hover span.buy{
    display: block;
}
#content .item .more{
    text-align: center;
    width: 90%;
    margin: 15px 5%;
    padding: 10px 0;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
}
#content .item .content table{
    width: 90%;
    margin: 15px 5%;
}
#content .item .content table a{
    text-decoration: none;
}
#content .item .content table img{
    width: 90%;
    padding: 15px;
}
#content .item .content table p{
    text-align: center;
}
#content .item .content table p.name{
    color: #646262;
    margin: 15px 0;
}
#content .item .content table p.price{
    font-weight: bold;
    color: rgb(226, 19, 19);
}
#content .item .content table .button{
    margin: 15px 0;
    text-align: center;
    height: 35px;
    display: flex;
    justify-content: center;
}
#content .item .content table .button > span{
    display: none;
    padding: 5px;
    font-weight: bold;
    color: white;
    width: 50%;
    background-color: rgb(226, 19, 19);
    height: 30px;
}
#content .item .content table td:hover span.buy{
    display: block;
}
#content .item > .button{
    text-align: center;
    margin: 15px 0px;
}
#content .item > .button a{
    padding: 5px;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    transition: all 0.2s ease-in-out;
}
#content .item > .button a:hover{
    background-color: black;
    color: white;
}
#content .item--sale {
    display: flex;
    justify-content: center;
}
#content .item--sale div.sale{
    width: 90%;
    height: 500px;
    background-image: linear-gradient(
        0,
        rgba(44, 51, 51, 0.5),
        rgba(44, 51, 51, 0.5)
    ),
    url('/img/panel.jpg');
    background-size: 100%;
}
#content .item--sale .sale p.content{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#content .item--sale .sale p.content .trademark{
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 30px;
}
#content .item--sale .sale p.content .sale{
    font-size: 40px;
    text-transform: uppercase;
    margin: 25px 0px;

}
#content .item--sale .sale p.content .sale .color{
    color: #F9D923;
}
#content .item--sale .sale p.content a{
    padding: 7px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    border: 2px solid white;
    transition: all 0.2s ease-in-out;
}
#content .item--sale .sale p.content a:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}
#content .item .title--sale{
    text-align: center;
    width: 90%;
    margin: 15px 5%;
    padding: 10px 0;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
}
#content .item table.sale {
    width: 90%;
    margin: 15px 5%;
}
#content .item table.sale a{
    text-decoration: none;
}
#content .item  table.sale img{
    width: 90%;
    padding: 5px;
}
#content .item  table.sale p{
    margin: 10px 0;
    text-align: center;
    color: black;
}
#content .item  table.sale p span{
    margin: 0 5px;
    color: rgb(226, 19, 19);
    font-weight: bold;
}
#content .item  table.sale p span.old--price{
    text-decoration: line-through;
    color: rgb(245, 107, 107);
    font-weight: 500;
}
#content .item  table.sale .button{
    margin: 20px 0;
    text-align: center;
    height: 35px;
    display: flex;justify-content: center;
}
#content .item  table.sale .button .buy{
    padding: 5px;
    background-color: rgb(226, 19, 19);
    color: white;
    height: 30px;
    display: none;
    width: 50%;
}
#content .item  table.sale td:hover .button > .buy {
    display: block;
}
#content .item  table.sale td {
    position: relative;
}
#content .item  table.sale .cencer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(226, 19, 19);
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 10px;
}